    <span>Chatea con otros usuarios</span>
      
    <div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon3">Email</span>
        <input id="input-email" type="text" name="email" required class="form-control" placeholder="Ingresá tu email" aria-label="email" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="col-sm-5">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon3">Mensaje</span>
        <input id="input-mensaje" type="email" name="mensaje" required class="form-control" placeholder="Ingresá tu mensaje" aria-label="mensaje" aria-describedby="basic-addon1">
      </div>
    </div>


    <div class="col-sm-2">
      <div class="d-grid gap-2">
        <button id="btn-submit-mensaje" class="btn btn-success btn-sm">Enviar mensaje</button>
      </div>
    </div>
    
    <span>Historial de mensajes</span>
    
    <div id="historial-mensajes"></div>

    <script>
      const socket = io();
      const btnMensaje = document.getElementById('btn-submit-mensaje');

      btnMensaje.addEventListener('click', (evt) => {
      evt.preventDefault();
      const email = document.getElementById('input-email').value;
      const mensaje = document.getElementById('input-mensaje').value;
      
      if (email !== '' && mensaje !== '') {
        socket.emit('nuevoMensaje', {
          "email" : email,
          "mensaje" : mensaje,
          "date" : new Date().toISOString()
        })
      }
    })

    socket.on('listaMensajesActualizada', (data) => {
      console.log(data);
      $('#historial-mensajes').empty();
      data.forEach( (mensaje) => {
        $('#historial-mensajes').append(
        `
        <small style="display:block"> - <em style="color:#9f9f9f">[${mensaje.date}]</em> <strong style="color:green">${mensaje.email}</strong>: ${mensaje.mensaje} </small>
        `
        )
      })
    })
    
    socket.on('listaMensajesBienvenida', (data) => {
      console.log(data);
      $('#historial-mensajes').empty();
      data.forEach( (mensaje) => {
        $('#historial-mensajes').append(
        `
        <small style="display:block"> - <em style="color:#9f9f9f">[${mensaje.date}]</em> <strong style="color:green">${mensaje.email}</strong>: ${mensaje.mensaje} </small>
        `
        )
      })
    })
    </script>
    