{{#if status}}
<h2>Agregar Producto</h2>
<div class="row g-3">

  <form class="row g-3" action="/productos" method="POST"> 
  
    <div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon1">Título</span>
        <input id="input-title" type="text" name="title" required class="form-control" placeholder="Título del producto" aria-label="Título" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="basic-addon2">Precio</span>
          <input id="input-price" type="text" name="price" required class="form-control" placeholder="Precio unitario" aria-label="Precio" aria-describedby="basic-addon1">
      </div>
    </div>  

    <div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon3">Thumbnail</span>
        <input id="input-img" type="text" name="thumbnail" required class="form-control" placeholder="Thumbnail (URL)" aria-label="Thumbnail" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon3">Stock</span>
        <input id="input-stock" type="number" name="stock" required class="form-control" placeholder="Ingresá el stock" aria-label="stock" aria-describedby="basic-addon3">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon3">Código</span>
        <input id="input-code" type="text" name="code" required class="form-control" placeholder="Ingresá el código" aria-label="code" aria-describedby="basic-addon3">
      </div>
    </div>

    <div class="col-sm-5">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon3">Descripción</span>
        <input id="input-description" type="text" name="description" required class="form-control" placeholder="Ingresá la descripción" aria-label="description" aria-describedby="basic-addon3">
      </div>
    </div>

    <div class="col-sm-5">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon3">Categoria</span>
        <input id="input-category" type="text" name="category" required class="form-control" placeholder="Ingresá la categoría" aria-label="category" aria-describedby="basic-addon3">
      </div>
    </div>

    <div class="col-sm-2">
      <div class="d-grid gap-2">
        <button id="btn-submit" class="btn btn-primary btn-sm" type="submit">Agregar a la lista</button>
      </div>
    </div>
    
    <hr>
    
    <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        <th scope="col">Código</th>
        <th scope="col">Stock</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
      </tr>
    </thead>
    <tbody id="table-body">
        
    </tbody>
  </table>
  {{else}}
    <h1>Necesitas loguearte para ver todo el contenido</h1>
    <h2>--- SERVIDOR CORRIENDO CORRECTAMENTE EN RAILWAY ---</h2>
  {{/if}}

  <script>
    const socket = io();
    const btn = document.getElementById('btn-submit');
    
    const inputTitle = document.getElementById('input-title');
    const inputPrice = document.getElementById('input-price');
    const inputImage = document.getElementById('input-img');
    const inputStock = document.getElementById('input-stock');
    const inputCode = document.getElementById('input-code');
    const inputDescription = document.getElementById('input-description');
    const inputCategory = document.getElementById('input-category');
    
    
    btn.addEventListener('click', (evt) => {
      const title = inputTitle.value;
      const price = inputPrice.value;
      const image = inputImage.value;
      const code = inputCode.value;
      const stock = inputStock.value;
      const description = inputDescription.value;
      const category = inputCategory.value;
      
      if (title !== '' && price !== '' && image !== '' && code !== '' && stock !== '' && description !== '') {
        socket.emit('productoAgregado',{
          "title": title,
          "price": price,
          "image": image,
          "stock": stock,
          "code": code,
          "description": description,
          "category": category
        })
      }
    })
    
    socket.on('listaActualizada', (data) => {
      $('#table-body').empty();
      data.forEach( (element) => {
        $('#table-body').append(
        `
        <tr>
            <td>${element._id}</td>
            <td>${element.title}</td>
            <td>${element.price}</td>
            <td>${element.image}</td>
            <td>${element.stock}</td>
            <td>${element.code}</td>
            <td>${element.description}</td>
            <td>${element.category}</td>
        </tr>
        `
        )
      })
    })
    
    socket.on('bienvenidoLista', (data) => {
      $('#table-body').empty();
      data.forEach( (element) => {
        $('#table-body').append(
        `
        <tr>
            <td>${element._id}</td>
            <td>${element.title}</td>
            <td>${element.price}</td>
            <td>${element.image}</td>
            <td>${element.stock}</td>
            <td>${element.code}</td>
            <td>${element.description}</td>
            <td>${element.category}</td>
        </tr>
        `
        )
      })
    })
    
  </script>
  </form>
</div>